.loader-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.video-item-details-cont {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  list-style-type: none;
}
@media (max-width: 767px) {
}
