nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  background-color: #f2f2f2;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-filter-list-cont {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-filter-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-logo-text {
  color: #cc0000;
  font-family: 'Times New Roman';
  font-weight: bold;
  font-size: 36px;
  text-decoration: underline;
}
.nav-each-list {
  margin-right: 15px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid purple;
  border-radius: 3px;
  padding: 5px 5px;
  background-color: #ffe6ff;
}
.search-container {
  border: 2px solid purple;
  border-radius: 4px;
  min-height: 30px;
  width: 30%;
  display: flex;
  margin-left: 15px;
}
.input-search {
  height: 30px;
  width: 100%;
  border-width: 0px;
  outline: none;
}
.search-btn {
  height: 30px;
  border-width: 0px;
  font-size: 10px;
}

@media (max-width: 767px) {
  .nav-filter-cont {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav-each-list {
    margin-right: 5px;
    font-weight: 700;
    font-size: 8px;
    border-width: 0px;
    border-radius: 3px;
    padding: 2px 5px;
    background-color: #ffe6ff;
    width: 50px;
  }

  .nav-logo-text {
    font-size: 28px;
  }
  .search-container {
    width: 70%;
    min-height: 20px;
  }
  .input-search {
    height: 20px;
  }
  .search-btn {
    height: 20px;
  }
}
